.tictactoe__page {
    background-color: #2c2c2c;
    color: white;
}

.tictactoe__title {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 3%;
}

.text{
    text-align: center;
    font-size: 20px;
    padding-bottom: 12px;
}

.higlighting{
    text-align: center;
    color: #f00946;
}

.portfolio__bild {
    padding: auto;
    height: 500px;
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.tictactoe__bild{
    padding-bottom: 2%;
}